.custom-table {
  width: 100%;
  background: $dark_white;
  border-radius: 14px;
  margin-top: -70px;

  // filter css

  &_filter {
    padding: 14px 29px 23px 29px;
    border-bottom: 1px solid $light_gray;
    @media only screen and (max-width: 768px) {
      border-bottom: none;
      float: right;
    }
    &_title {
      display: flex;
      width: 100%;
      align-items: center;
      h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $dark_gray_s1;
        margin: 0;
      }
      svg {
        margin-right: 11px;
      }
      @media only screen and (max-width: 768px) {
        border: 0.8px solid $black;
        border-radius: 8px;
        min-width: 106px;
        min-height: 37px;
        padding: auto 5px;
        text-align: center;
        align-items: center;
        justify-content: center;
        &::after {
          content: 'Filter';
          position: absolute;
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: $black;
          margin: 0;
          right: 106px;
          @media only screen and (max-width: 568px) {
            right: 50px;
          }
        }
        h1 {
          display: none;
        }
        svg {
          margin-right: 48px;
          @media only screen and (max-width: 568px) {
            margin-right: 55px;
          }
          path {
            fill: $black;
          }
        }
      }
    }
    &_wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      @media only screen and (max-width: 768px) {
        display: none;
      }
      &_select {
        width: 100%;
        max-width: fit-content;
        margin-right: 27px;
        h1 {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 22px;
          color: $light_black;
          margin: 0;
          margin-bottom: 6px;
          margin-top: 21px;
        }
        select {
          position: relative;
          height: 100%;
          width: 100%;
          min-width: 223px;
          max-height: 52px;
          padding: 12px 45px 12px 15px;
          border: 1px solid $dark_gray;
          border-radius: 8px;
          font-family: Poppins;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          color: $light_gray_s1;
          appearance: none;
          cursor: pointer;
          outline: none;
          -webkit-appearance: none;
          -moz-appearance: none;
          background: transparent;
          background-image: url('../images/down_arrow.svg');
          background-repeat: no-repeat;
          background-position-x: 92%;
          background-position-y: 20px;
          option {
            margin: 0 0;
            padding: 0 0;
            list-style: none;
            border: none;
            background-color: white;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
          }
        }
      }
      &_clear {
        display: flex;
        align-items: flex-end;
        margin-top: 20px;
        h1 {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          color: $dark_gray_s1;
          margin: 0;
          margin-right: 35px;
          margin-bottom: 12px;
        }
        &_btn {
          font-family: Poppins;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 27px;
          /* identical to box height */
          color: $dark_gray_s1;
          background: $black;
          padding: 10px 32px;
          border-radius: 11px;
          color: #fff;
        }
      }
    }
  }

  // table css

  // &_table {
  //   &_thead {
  //     &_tr {
  //       display: flex;
  //       gap: 1rem;
  //       padding: 23px 0 22px 75px;
  //       &_th {
  //         align-items: center;
  //         display: flex;
  //         flex: 1 1;
  //         flex-wrap: wrap;
  //         // width: 100%;
  //         // padding: 20px 0;
  //         font-family: 'Poppins';
  //         font-style: normal;
  //         font-weight: 600;
  //         font-size: 22px;
  //         line-height: 33px;
  //         color: $bg_color;
  //       }
  //     }
  //   }
  //   &_tbody {
  //     &_tr {
  //       align-items: center;
  //       display: flex;
  //       flex: 1 1;
  //       background: $white;
  //       margin-bottom: 15px;
  //       &_td {
  //         padding: 20px 0;
  //         font-family: Poppins;
  //         font-style: normal;
  //         font-weight: 600;
  //         font-size: 18px;
  //         line-height: 27px;
  //         vertical-align: middle;
  //         //min-width: 269px;
  //         width: 100%;
  //         text-align: center;

  //         .buyer {
  //           padding-left: 29px;
  //           &_left {
  //             display: flex;
  //             align-items: center;
  //             &_avatar {
  //               padding: 14px;
  //               border-radius: 8px;
  //               display: flex;
  //               align-items: center;
  //               margin-right: 16px;
  //             }
  //           }
  //         }
  //         .tag {
  //           height: 47px;
  //           width: 98px;
  //           border-radius: 9px;
  //           margin: 0 auto;
  //           display: flex;
  //           align-items: center;
  //           justify-content: center;
  //         }
  //       }
  //     }
  //   }
  // }

  &_content {
    margin-bottom: 5rem;
    &_header {
      display: flex;
      gap: 1rem;
      padding: 2rem 3rem;
      border-bottom: 1px solid #dcdcdc;
      &_col {
        align-items: center;
        color: #07a189;
        display: flex;
        flex: 1 1;
        flex-wrap: wrap;
        font-weight: 700;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 33px;
        color: #07a189;
      }
    }
    &_row {
      background-color: $white;
      border-radius: 10px;
      display: flex;
      gap: 1rem;
      margin-bottom: 2rem;
      padding: 2rem;
      &_col {
        align-items: center;
        display: flex;
        flex: 1 1;
        flex-wrap: wrap;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: #000000;

        .buyer {
          &_left {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            &_avatar {
              padding: 14px;
              border-radius: 8px;
              display: flex;
              align-items: center;
              margin-right: 16px;
            }
            &_title {
              text-overflow: ellipsis;
              max-width: 80px;
              overflow: hidden;
            }
          }
        }
        .tag {
          height: 47px;
          width: 98px;
          border-radius: 9px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
