$black: #000;
$light_black: #1d1d1d;
$white: #fff;
$dark_white: #f6f6f6;
$light_gray: #dcdcdc;
$light_gray_s1: #b5b5b5;
$light_gray_s2: #b9b9b9;
$light_gray_s3: #b0b0b0;
$light_gray_s4: #fbfbfb;
$dark_gray: #888888;
$dark_gray_s1: #6c6c6c;
$dark_gray_s2: #a7a49d;
$dark_gray_s3: #7b7b7b;
$bg_color: #07a189;
$light_bg_color: #E7FFFB;
$purple: #905de6;